<div class="post-discuss-on">
  <strong>/discuss</strong> on <a href="https://twitter.com/search?q={{url absolute='true'}}">Twitter</a>
  and <a href="https://www.reddit.com/search/?q=url%3A{{url absolute='true'}}">Reddit</a>
</div>
